.document-container {
    background: white;
    width: 80px;
    height: 100px;
    margin: 15px;
    display: inline-block;
}

.document-pages-column {
    text-align: center;
}

.document-is-active {
    border: 2px #0d626d solid; 
}

.document-is-disabled {
    background: #f2f2f2;
}